<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<div>
	<img style="max-width: 100%;  " src="<%= @post.body.to_s.gsub("googleapis","cloud.google") %>">
</div>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
